body {
  padding-top: 60px;
  //background-image: url(../images/porto-sunset.jpg);
  background-size: cover;
  background-attachment: fixed;
}
body.scrolled {
  background-image: url(../images/gibson-lp.jpg);
}
body.coupons-home {
  padding-top: 0;
}
img.background-imagez {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -3;
  min-width: 100%;
}
body.scrolled img.background-image,
body.scrolled p.background-image-caption {
  display: none !important;
}
div.row {
  margin: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b {
  font-family: 'Open Sans', sans-serif !important;
}
/* Home Page */
div#Home {
  height: 800px;
}
div#Home h1,
div#Home h3 {
  z-index: -1;
  position: fixed;
}
img#headshot {
  border: 10px solid white;
  border-radius: 30em;
}
div.row.home-page p {
  font-size: 16px;
  line-height: 24px;
}
div.row.home-page .left h4 {
  margin-bottom: 0;
  margin-top: 25px;
  font-weight: bold;
  font-style: italic;
}
div.row.home-page .right {
  text-align: right;
}
div.row.home-page .left {
  text-align: left;
}
div.transparent {
  color: white !important;
  text-shadow: rgba(0,0,0,1) 2px 2px 5px;
  background-color: transparent !important;
}
div.row.home-page {
  background-color: white;
  text-align: center;
  color: rgb(100,100,100);
  padding: 20px 12.5%;
}
div.row.home-page.transparent {
  padding: 0;
  height: 400px;
}
div.home-page.home h1 {
  font-size: 55px;
}
div.row.home-page:nth-child(odd) {
  background-color: #f5f5f5;
}
hr {
  border-color: #cacaca;
}
#caption {
  position: absolute;
  bottom: 5px;
  margin: 0;
}
#caption.piz,
#caption.pbang {
  right: 5px;
}
#caption:not(.piz) {
  display: none;
}
#caption.porto {
  left: 5px;
}
#caption.pbang {
  /width: 100%;
  /text-align: center;
}
#arrow_container {
  width: 100px;
  height: 100px;
  position: fixed;
  cursor: pointer;
}
#arrow .glyphicon {
  font-size: 50px;
  cursor: pointer;
}
#arrow a {
  color: white;
}
/* Education & Experience */
div.school,
div.job {
  padding-bottom: 50px;
}
div.school h3,
div.school h4,
div.job h3,
div.job h4 {
  margin: 0;
}
div.school h3,
div.job h3 {
  font-size: 21px;
  font-weight: bold;
}
div.school div:nth-child(2),
div.job div.job-title {
  border-left: 1px solid black;
}
div.job div.job-title {
  padding: 0;
}
div.school div:nth-child(1) p,
div.job div:nth-child(1) p {
  margin-bottom: 0px;
}
div.school div:nth-child(2),
div.job div:nth-child(2) {
  text-align: left;
}
div.school div:nth-child(2) h4,
div.job div.job-title h4,
div.job div.job-title h5 {
  font-style: italic;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 20px;
}
div.job-title h5 {
  text-align: right;
}
div.school ul,
div.job ul {
  padding-left: 20px;
}
div.school ul li,
div.job ul li {
  margin-bottom: 3px;
  font-size: 16px;
}
div.job ul a {
  color: inherit;
}
div.job ul a:hover {
  text-decoration: none;
}

/* Skills */
#Skills .skills_container {
  width: 80%;
  margin: auto;
}
#spoken_languages {
  width: 60%;
  margin:auto;
}
#spoken_languages h4 {
  font-weight: bold;
}
#spoken_languages p {
  font-style: italic;
  font-size: 14px;
  line-height: 18px;
}
.skill_bars .skill_bar {
  text-align: left;
  padding: 4px 17px;
  margin: 2px 0;
  background: #59C0E1;
  color: white;
  border-radius: 99em;
}
.skill_bars .skill_bar h4 {
  display: inline-block;
}
.skill_bars .skill_bar .num {
  float: right;
  margin-top: 9px;
}

div.skill_bars .skill_bar .num {
  opacity: 0;
  transition: 0.5s;
}
div.skill_bars .skill_bar:hover .num {
  opacity: 1;
}
/* Projects */
#Projects div.project {
  padding-bottom: 15px;
}
div.project img {
  max-width: 100%;
}

.visible-sm-down {
  display: none !important;
}

.img_hoverbox, .img_hoverbox * { box-sizing: border-box; } .img_hoverbox { position: relative; display: inline-block; overflow: hidden; max-width: 100%; height: auto; box-shadow: rgba(0, 0, 0, 0.35) 3px 4px 10px; } .img_hoverbox img { max-width: 100%; } .img_hoverbox .hvrbox-layer_bottom { display: block; } .img_hoverbox .hvrbox-layer_top { opacity: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.75); color: #fff; padding: 5px; -moz-transition: all 0.4s ease-in-out 0s; -webkit-transition: all 0.4s ease-in-out 0s; -ms-transition: all 0.4s ease-in-out 0s; transition: all 0.4s ease-in-out 0s; } .img_hoverbox:hover .hvrbox-layer_top, .img_hoverbox.active .hvrbox-layer_top { opacity: 1; } .img_hoverbox .hvrbox-text { text-align: center; font-size: 18px; display: inline-block; position: absolute; top: 50%; left: 50%; width: 90%; -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); } .img_hoverbox .hvrbox-text p { text-align: justify; font-size: 14px !important; line-height: 18px !important;} .img_hoverbox a { color: inherit; } .img_hoverbox a:hover { color: inherit; text-decoration: none; xxfont-style: italic; } .img_hoverbox .hvrbox-text_mobile { font-size: 15px; border-top: 1px solid rgb(179, 179, 179); border-top: 1px solid rgba(179, 179, 179, 0.7); margin-top: 5px; padding-top: 2px; display: none; } .img_hoverbox.active .hvrbox-text_mobile { display: block; }

div.hrvbox-text p {
  text-align: left;
}

/* Interests */
#Interests h2 {
  font-style: italic;
  text-align: left;
}
#Interests div.albums_container img {
    max-width: calc(20% - 5px);
    padding: 2.5px;
    xxpadding: 0;
}
#Interests div.albums_container img:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 5px;
  margin-top: -3px;
  transition: 0.25s;
}
#Interests .affix {
  top: 80px;
  left: 175px;
  position: fixed !important;
}
#Interests .affix-top,
#Interests .affix-bottom {
  left: inherit !important;
}


/* Responsive */
@media (max-width: 480px) {
  body.scrolled {
    background-image: url(../images/gibson_lp_small.jpg);
  }
  ul.navbar-right {
    display: none;
  }
  .visible-sm-down {
    display: block;
  }
  div#caption p {
    font-size: 14px;
  }
  nav.navbar-default ul.nav.navbar-nav li a {
    margin: 5px;
  }
  nav.navbar-default ul.nav.navbar-nav li.active a {
    color: black;
    background: white;
  }
  nav.navbar-default ul.nav.navbar-nav li a:hover {
    border-radius: 5px;
    margin: 5px;
  }
  div.row.home-page {
    padding: 10px 5%;
  }
  div.row.home-page .left,
  div.row.home-page .right {
    text-align: center;
  }
  img#headshot {
    margin: 5px -10px;
  }
  div.school,div.job {
    padding-bottom: 10px;
  }
  div.school div:nth-child(2),
  div.job div.job-title {
    border: none;
  }
  div.school div:nth-child(2) h4,
  div.job div.job-title h4,
  div.job div.job-title h5 {
    text-align: center;
  }
  div.job div.job-title h4 {
    margin-bottom: 0;
  }
  .img_hoverbox .hvrbox-text p {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  #Interests div.albums_container img {
      max-width: calc(50% - 5px);
  }
  .transparent .quote {
    margin-top: 60px;
    max-width: 90%;
  }
}


div.pa img {
  max-width: 100%;
  margin: auto;
}
div.pa.row {
  margin: 30px 0px;
}
